Repository exercism/php, pull requests merged in 2023-07, with the labels that each got.

#513 First concept exercise: Basics
  .github/workflows/exercise-lint-phpcs-psr-12.yml
  .github/workflows/exercise-tests-phpunit-9.yml
  bin/lint.sh
  bin/test.sh
  composer.json
  config.json
  exercises/concept/bootstrap.sh
  exercises/concept/lasagna/.docs/hints.md
  exercises/concept/lasagna/.docs/instructions.md
  exercises/concept/lasagna/.docs/introduction.md
  exercises/concept/lasagna/.docs/introduction.md.tpl
  exercises/concept/lasagna/.meta/config.json
  exercises/concept/lasagna/.meta/design.md
  exercises/concept/lasagna/.meta/exemplar.php
  exercises/concept/lasagna/Lasagna.php
  exercises/concept/lasagna/LasagnaTest.php
Labels: x:action/create, x:module/concept, x:type/content, x:size/medium, x:rep/medium

#514 Basics: Slight clean up
  concepts/basic-syntax/about.md
  concepts/basic-syntax/introduction.md
  exercises/concept/lasagna/.docs/introduction.md
Labels: x:action/improve, x:module/concept, x:module/concept-exercise, x:type/content, x:size/tiny, x:rep/tiny

#515 Slight clean up
  concepts/variables/.meta/config.json
  concepts/variables/about.md
  concepts/variables/introduction.md
  concepts/variables/links.json
  config.json
Labels: x:rep/tiny

#516 Concept exercise: Strings - High School Sweetheart
  .github/workflows/configlet-generate.yml
  config.json
  exercises/concept/bootstrap.sh
  exercises/concept/lasagna/.docs/introduction.md
  exercises/concept/lasagna/LasagnaTest.php
  exercises/concept/sweethearts/.docs/hints.md
  exercises/concept/sweethearts/.docs/instructions.md
  exercises/concept/sweethearts/.docs/introduction.md
  exercises/concept/sweethearts/.docs/introduction.md.tpl
  exercises/concept/sweethearts/.meta/config.json
  exercises/concept/sweethearts/.meta/design.md
  exercises/concept/sweethearts/.meta/exemplar.php
  exercises/concept/sweethearts/HighSchoolSweetheart.php
  exercises/concept/sweethearts/HighSchoolSweetheartTest.php
Labels: x:module/concept, x:module/concept-exercise, x:type/content

#517 Fix string links
  concepts/strings/links.json
Labels: x:type/content, x:size/tiny, x:rep/tiny

#518 Concept Exercise: Pizza-Pi
  config.json
  exercises/concept/bootstrap.sh
  exercises/concept/pizza-pi/.docs/hints.md
  exercises/concept/pizza-pi/.docs/instructions.md
  exercises/concept/pizza-pi/.docs/introduction.md
  exercises/concept/pizza-pi/.docs/introduction.md.tpl
  exercises/concept/pizza-pi/.meta/config.json
  exercises/concept/pizza-pi/.meta/design.md
  exercises/concept/pizza-pi/.meta/exemplar.php
  exercises/concept/pizza-pi/PizzaPi.php
  exercises/concept/pizza-pi/PizzaPiTest.php
Labels: x:module/concept, x:module/concept-exercise, x:type/content, x:size/large

#519 test_id -> task_id
  exercises/concept/pizza-pi/PizzaPiTest.php
Labels: x:module/concept-exercise, x:size/tiny, x:rep/tiny

#520 Concept exercise: Annalyns Infiltration -- booleans
  config.json
  exercises/concept/annalyns-infiltration/.docs/hints.md
  exercises/concept/annalyns-infiltration/.docs/instructions.md
  exercises/concept/annalyns-infiltration/.docs/introduction.md
  exercises/concept/annalyns-infiltration/.docs/introduction.md.tpl
  exercises/concept/annalyns-infiltration/.meta/config.json
  exercises/concept/annalyns-infiltration/.meta/design.md
  exercises/concept/annalyns-infiltration/.meta/exemplar.php
  exercises/concept/annalyns-infiltration/AnnalynsInfiltration.php
  exercises/concept/annalyns-infiltration/AnnalynsInfiltrationTest.php
  exercises/concept/bootstrap.sh
Labels: x:module/concept, x:module/concept-exercise, x:type/content, x:size/medium, x:rep/medium

#521 Update source_url on config.json for Roman Numerals
  exercises/practice/roman-numerals/.meta/config.json
Labels: x:action/improve, x:size/tiny, x:rep/tiny

#524 Fix: Remove type from argument
  concepts/class-basics/about.md
  concepts/class-basics/introduction.md
  exercises/concept/windowing-system/.docs/introduction.md
Labels: x:size/tiny, x:rep/tiny

#525 Concept exercise: `type declaration` using the city-office exercise
  bin/test.sh
  config.json
  exercises/concept/city-office/.docs/hints.md
  exercises/concept/city-office/.docs/instructions.md
  exercises/concept/city-office/.docs/introduction.md
  exercises/concept/city-office/.docs/introduction.md.tpl
  exercises/concept/city-office/.meta/config.json
  exercises/concept/city-office/.meta/design.md
  exercises/concept/city-office/.meta/exemplar/Address.php
  exercises/concept/city-office/.meta/exemplar/Form.php
  exercises/concept/city-office/Address.php
  exercises/concept/city-office/CityOfficeTest.php
  exercises/concept/city-office/Form.php
  exercises/concept/city-office/ReflectionAssertions.php
Labels: x:module/concept, x:module/concept-exercise, x:type/content

#526 fix conceot name
  config.json
Labels: x:size/tiny, x:rep/tiny

#527 Convert `average_run_time` to an integer
  config.json
Labels: x:size/tiny

#529 [Bug fixes] Fix concept exercises
  exercises/concept/language-list/LanguageListTest.php
  exercises/concept/windowing-system/ProgramWindowTest.php
Labels: bug, x:module/concept-exercise, x:size/small, x:rep/small
