Repository exercism/php, pull requests merged in 2023-11, with the labels that each got.

#575 Fixes to "High School Sweethearts" and GitHub actions
  .github/workflows/exercise-tests-phpunit-9.yml
  config.json
  exercises/concept/sweethearts/HighSchoolSweetheartTest.php
Labels: x:module/concept, x:type/content, x:size/tiny, x:rep/tiny

#580 CI: pin GitHub Actions runners
  .github/workflows/configlet-generate.yml
  .github/workflows/exercise-lint-phpcs-psr-12.yml
  .github/workflows/exercise-tests-phpunit-9.yml
Labels: x:size/tiny

#581 Concept of type juggling
  concepts/type-juggling/about.md
  concepts/type-juggling/introduction.md
Labels: x:module/concept, x:type/content, x:size/medium, x:rep/medium

#582 Lucky Numbers concept exercise
  config.json
  exercises/concept/lucky-numbers/.docs/hints.md
  exercises/concept/lucky-numbers/.docs/instructions.md
  exercises/concept/lucky-numbers/.docs/introduction.md
  exercises/concept/lucky-numbers/.docs/introduction.md.tpl
  exercises/concept/lucky-numbers/.meta/config.json
  exercises/concept/lucky-numbers/.meta/design.md
  exercises/concept/lucky-numbers/.meta/exemplar.php
  exercises/concept/lucky-numbers/LuckyNumbers.php
  exercises/concept/lucky-numbers/LuckyNumbersTest.php
Labels: x:module/concept-exercise, x:type/content, x:size/large, x:rep/large

#583 Fix input specs for Lucky Number task 3
  exercises/concept/lucky-numbers/.docs/instructions.md
Labels: x:module/concept-exercise, x:size/tiny, x:rep/tiny

#584 CI: pin GitHub Actions workflows
  .github/workflows/configlet-generate.yml
Labels: x:size/tiny

#586 Add requested methods to Matrix.php template
  exercises/practice/matrix/Matrix.php
Labels: x:module/practice-exercise, x:type/content, x:size/tiny, x:rep/tiny

#587 fix: explode with empty separator in exemplar
  exercises/concept/city-office/.meta/exemplar/Form.php
  exercises/concept/city-office/Form.php
Labels: x:size/tiny, x:rep/tiny
