Repository exercism/php, pull requests merged in 2024-11, with the labels that each got.

#835 Fix: Various spellchecks
  concepts/anonymous-functions-closures/about.md
  concepts/arithmetic-operators/about.md
  concepts/basic-syntax/about.md
  concepts/basic-syntax/introduction.md
  concepts/type-declaration/.meta/config.json
  exercises/concept/lasagna/.docs/introduction.md
  exercises/concept/windowing-system/.meta/design.md
  exercises/practice/protein-translation/ProteinTranslationTest.php
Labels: x:action/fix, x:knowledge/none, x:module/concept, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#846 sync alphametics
  exercises/practice/alphametics/.docs/instructions.md
  exercises/practice/alphametics/.meta/config.json
  exercises/practice/alphametics/.meta/example.php
  exercises/practice/alphametics/.meta/tests.toml
  exercises/practice/alphametics/AlphameticsTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#849 ci: Allow for single exercise test exection
  README.md
  bin/test.sh
Labels: x:action/improve, x:knowledge/elementary, x:type/coding, x:size/small, x:rep/small

#861 fix: Ensure name_filter are local scoped
  bin/test.sh
Labels: x:action/fix, x:knowledge/none, x:type/ci, x:size/small, x:rep/small

#847 sync atbash-cipher
  exercises/practice/atbash-cipher/.docs/instructions.md
  exercises/practice/atbash-cipher/.meta/example.php
  exercises/practice/atbash-cipher/AtbashCipher.php
  exercises/practice/atbash-cipher/AtbashCipherTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#862 sync change
  exercises/practice/change/.docs/instructions.md
  exercises/practice/change/.meta/config.json
  exercises/practice/change/.meta/example.php
  exercises/practice/change/.meta/tests.toml
  exercises/practice/change/ChangeTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#857 ci: Fix strict types sniff
  composer.json
  phpcs.xml
  src/Exercism/Sniffs/StrictTypes/ExplainStrictTypesSniff.php
Labels: x:action/fix, x:knowledge/none, x:type/ci, x:size/medium, x:rep/medium
