Repository exercism/php, pull requests merged in 2024-02, with the labels that each got.

#612 Adjust tests for Nucleotide Count exercise to match problem-specifications
  exercises/practice/nucleotide-count/.meta/config.json
  exercises/practice/nucleotide-count/NucleotideCountTest.php
Labels: x:action/fix, x:knowledge/elementary, x:module/practice-exercise, x:size/small, x:rep/small

#615 Update introduction.md
  exercises/concept/lasagna/.docs/introduction.md
Labels: x:action/improve, x:knowledge/none, x:module/concept-exercise, x:size/tiny, x:rep/tiny

#614 Add debug hints to show up in online editor
  exercises/shared/.docs/debug.md
Labels: x:action/improve, x:knowledge/elementary, x:size/tiny, x:rep/tiny

#607 Overhaul `basic-syntax` and `lasagna`
  concepts/basic-syntax/.meta/config.json
  concepts/basic-syntax/about.md
  concepts/basic-syntax/introduction.md
  config.json
  exercises/concept/lasagna/.docs/hints.md
  exercises/concept/lasagna/.docs/instructions.md
  exercises/concept/lasagna/.docs/introduction.md
  exercises/concept/lasagna/.meta/design.md
  exercises/concept/lasagna/Lasagna.php
  exercises/concept/lasagna/LasagnaTest.php
Labels: x:action/improve, x:knowledge/intermediate, x:module/concept, x:module/concept-exercise, x:type/content, x:size/medium, x:rep/medium

#605 Add ListOps exercise
  config.json
  exercises/practice/list-ops/.docs/instructions.append.md
  exercises/practice/list-ops/.docs/instructions.md
  exercises/practice/list-ops/.meta/config.json
  exercises/practice/list-ops/.meta/example.php
  exercises/practice/list-ops/.meta/tests.toml
  exercises/practice/list-ops/ListOps.php
  exercises/practice/list-ops/ListOpsTest.php
  phpcs-php.xml
Labels: x:knowledge/elementary, x:module/practice-exercise, x:size/large, x:rep/large

#591 Overhaul tool usage in CI and for contribution
  README.md
  bin/install-phpcs.sh
  bin/install-phpunit-9.sh
  bin/install.sh
  bin/lint.sh
  composer.json
  exercises/concept/annalyns-infiltration/.meta/exemplar.php
  exercises/concept/city-office/ReflectionAssertions.php
  exercises/concept/lucky-numbers/.meta/exemplar.php
  exercises/concept/sweethearts/.meta/exemplar.php
  phpcs-php.xml
  phpcs.xml
Labels: x:action/improve, x:knowledge/intermediate, x:type/coding, x:size/small, x:rep/small

#576 Add constructor template in LargestSeriesProduct.php
  exercises/practice/largest-series-product/LargestSeriesProduct.php
Labels: x:action/improve, x:knowledge/none, x:module/practice-exercise, x:rep/tiny

#619 Auto format all files with configlet
  config.json
  exercises/concept/lucky-numbers/.meta/config.json
  exercises/practice/alphametics/.meta/config.json
  exercises/practice/bank-account/.meta/config.json
  exercises/practice/binary-search-tree/.meta/config.json
  exercises/practice/list-ops/.meta/config.json
  exercises/practice/protein-translation/.meta/config.json
  exercises/practice/proverb/.meta/config.json
  exercises/practice/resistor-color-duo/.meta/config.json
  exercises/practice/resistor-color-trio/.meta/config.json
  exercises/practice/say/.meta/config.json
  exercises/practice/twelve-days/.meta/config.json
  exercises/practice/yacht/.meta/config.json
Labels: x:action/improve, x:knowledge/none, x:rep/tiny

#621 changing function names to match the instructions
  exercises/concept/annalyns-infiltration/.docs/instructions.md
Labels: x:knowledge/none, x:module/concept-exercise, x:type/content, x:size/tiny, x:rep/tiny

#622 Add configlet fmt to CI
  .github/org-wide-files-config.toml
  .github/workflows/configlet.yml
Labels: x:action/improve, x:knowledge/none, x:type/ci, x:size/tiny, x:rep/tiny

#623 Add Zebra Puzzle Exercise
  config.json
  exercises/practice/zebra-puzzle/.docs/instructions.md
  exercises/practice/zebra-puzzle/.meta/config.json
  exercises/practice/zebra-puzzle/.meta/example.php
  exercises/practice/zebra-puzzle/.meta/tests.toml
  exercises/practice/zebra-puzzle/ZebraPuzzle.php
  exercises/practice/zebra-puzzle/ZebraPuzzleTest.php
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:size/large, x:rep/large

#625 Add Spiral Matrix Exercise
  config.json
  exercises/practice/spiral-matrix/.docs/instructions.md
  exercises/practice/spiral-matrix/.meta/config.json
  exercises/practice/spiral-matrix/.meta/example.php
  exercises/practice/spiral-matrix/.meta/tests.toml
  exercises/practice/spiral-matrix/SpiralMatrix.php
  exercises/practice/spiral-matrix/SpiralMatrixTest.php
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:size/large, x:rep/large

#626 change links in hints, previous was wrong
  exercises/concept/lucky-numbers/.docs/hints.md
Labels: x:action/improve

#627 Add .idea to .gitignore
  .gitignore
Labels: x:action/improve, x:knowledge/none, x:size/tiny, x:rep/tiny

#624 Add Circular Buffer Exercise
  config.json
  exercises/practice/circular-buffer/.docs/instructions.md
  exercises/practice/circular-buffer/.meta/config.json
  exercises/practice/circular-buffer/.meta/example.php
  exercises/practice/circular-buffer/.meta/tests.toml
  exercises/practice/circular-buffer/CircularBuffer.php
  exercises/practice/circular-buffer/CircularBufferTest.php
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:size/large, x:rep/large

#633 Add knapsack exercise
  config.json
  exercises/practice/knapsack/.docs/instructions.md
  exercises/practice/knapsack/.meta/config.json
  exercises/practice/knapsack/.meta/example.php
  exercises/practice/knapsack/.meta/tests.toml
  exercises/practice/knapsack/Knapsack.php
  exercises/practice/knapsack/KnapsackTest.php
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:size/large, x:rep/large

#632 Add Kindergarten Garden Exercise
  config.json
  exercises/practice/kindergarten-garden/.docs/instructions.md
  exercises/practice/kindergarten-garden/.meta/config.json
  exercises/practice/kindergarten-garden/.meta/example.php
  exercises/practice/kindergarten-garden/.meta/tests.toml
  exercises/practice/kindergarten-garden/KindergartenGarden.php
  exercises/practice/kindergarten-garden/KindergartenGardenTest.php
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:size/large, x:rep/large

#634 Add Secret Handshake Exercise
  config.json
  exercises/practice/secret-handshake/.docs/instructions.md
  exercises/practice/secret-handshake/.docs/introduction.md
  exercises/practice/secret-handshake/.meta/config.json
  exercises/practice/secret-handshake/.meta/example.php
  exercises/practice/secret-handshake/.meta/tests.toml
  exercises/practice/secret-handshake/SecretHandshake.php
  exercises/practice/secret-handshake/SecretHandshakeTest.php
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:size/large, x:rep/large

#636 Add Two Bucket Exercise
  config.json
  exercises/practice/two-bucket/.docs/instructions.md
  exercises/practice/two-bucket/.meta/config.json
  exercises/practice/two-bucket/.meta/example.php
  exercises/practice/two-bucket/.meta/tests.toml
  exercises/practice/two-bucket/TwoBucket.php
  exercises/practice/two-bucket/TwoBucketTest.php
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:size/large, x:rep/large

#639 Add Eliuds Eggs exercise
  config.json
  exercises/practice/eliuds-eggs/.docs/instructions.append.md
  exercises/practice/eliuds-eggs/.docs/instructions.md
  exercises/practice/eliuds-eggs/.docs/introduction.md
  exercises/practice/eliuds-eggs/.meta/config.json
  exercises/practice/eliuds-eggs/.meta/example.php
  exercises/practice/eliuds-eggs/.meta/tests.toml
  exercises/practice/eliuds-eggs/EliudsEggs.php
  exercises/practice/eliuds-eggs/EliudsEggsTest.php
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:size/large, x:rep/large

#640 Foregone parallel-letter-frequency exercise
  config.json
Labels: x:action/improve, x:knowledge/elementary, x:module/practice-exercise, x:size/small, x:rep/small

#644 Disable testing on MacOS due to sudden problems with PHP
  .github/workflows/exercise-tests-phpunit-9.yml
Labels: x:action/fix, x:knowledge/none, x:type/ci, x:size/small, x:rep/small

#642 Add Sublist Exercise
  config.json
  exercises/practice/sublist/.docs/instructions.md
  exercises/practice/sublist/.meta/config.json
  exercises/practice/sublist/.meta/example.php
  exercises/practice/sublist/.meta/tests.toml
  exercises/practice/sublist/Sublist.php
  exercises/practice/sublist/SublistTest.php
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:size/large, x:rep/large

#643 Add Strain Exercise
  config.json
  exercises/practice/strain/.docs/instructions.md
  exercises/practice/strain/.meta/config.json
  exercises/practice/strain/.meta/example.php
  exercises/practice/strain/.meta/tests.toml
  exercises/practice/strain/Strain.php
  exercises/practice/strain/StrainTest.php
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:size/large, x:rep/large

#647 Add House Exercise
  config.json
  exercises/practice/house/.docs/instructions.md
  exercises/practice/house/.meta/config.json
  exercises/practice/house/.meta/example.php
  exercises/practice/house/.meta/tests.toml
  exercises/practice/house/House.php
  exercises/practice/house/HouseTest.php
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:size/large, x:rep/large

#648 Add Killer Sudoku Helper Exercise
  config.json
  exercises/practice/killer-sudoku-helper/.docs/instructions.md
  exercises/practice/killer-sudoku-helper/.meta/config.json
  exercises/practice/killer-sudoku-helper/.meta/example.php
  exercises/practice/killer-sudoku-helper/.meta/tests.toml
  exercises/practice/killer-sudoku-helper/KillerSudokuHelper.php
  exercises/practice/killer-sudoku-helper/KillerSudokuHelperTest.php
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:size/large, x:rep/large

#649 Add Micro Blog Exercise
  config.json
  exercises/practice/micro-blog/.docs/instructions.md
  exercises/practice/micro-blog/.meta/config.json
  exercises/practice/micro-blog/.meta/example.php
  exercises/practice/micro-blog/.meta/tests.toml
  exercises/practice/micro-blog/MicroBlog.php
  exercises/practice/micro-blog/MicroBlogTest.php
Labels: x:action/create, x:knowledge/elementary, x:module/practice-exercise, x:size/large, x:rep/large
