Repository exercism/php, pull requests merged in 2024-09, with the labels that each got.

#794 Sync Hamming
  exercises/practice/hamming/.docs/instructions.md
  exercises/practice/hamming/.meta/example.php
  exercises/practice/hamming/.meta/tests.toml
  exercises/practice/hamming/HammingTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#795 ci(dependabot): change to monthly interval
  .github/dependabot.yml
Labels: x:size/tiny

#798 Update instructions.append.md
  exercises/practice/list-ops/.docs/instructions.append.md
Labels: x:action/fix, x:knowledge/none, x:module/practice-exercise, x:type/content, x:size/tiny, x:rep/tiny

#802 configlet 4.0.0 requires `generate` with `--update --yes`
  .github/workflows/configlet-generate.yml
Labels: x:action/fix, x:knowledge/none, x:type/ci, x:size/tiny, x:rep/tiny

#799 Sync Rotational cipher
  exercises/practice/rotational-cipher/RotationalCipherTest.php
Labels: x:action/sync, x:knowledge/none, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#804 sync isogram
  exercises/practice/isogram/.docs/instructions.md
  exercises/practice/isogram/.meta/example.php
  exercises/practice/isogram/.meta/tests.toml
  exercises/practice/isogram/IsogramTest.php
Labels: x:action/sync, x:knowledge/elementary, x:type/content, x:size/small, x:size/tiny, x:rep/small

#803 sync phone-number
  exercises/practice/phone-number/.docs/instructions.md
  exercises/practice/phone-number/.meta/config.json
  exercises/practice/phone-number/.meta/example.php
  exercises/practice/phone-number/.meta/tests.toml
  exercises/practice/phone-number/PhoneNumberTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#808 Sync: Two Bucket
  exercises/practice/two-bucket/.docs/instructions.md
  exercises/practice/two-bucket/.meta/example.php
  exercises/practice/two-bucket/TwoBucketTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small
