Repository exercism/php, pull requests merged in 2024-07, with the labels that each got.

#766 #48in24: secret-handshake
  exercises/practice/secret-handshake/SecretHandshakeTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#771 Sync Allergies
  exercises/practice/allergies/.docs/instructions.md
  exercises/practice/allergies/.meta/config.json
  exercises/practice/allergies/.meta/example.php
  exercises/practice/allergies/.meta/tests.toml
  exercises/practice/allergies/AllergiesTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#773 Fix order of testdox and UUID
  exercises/practice/acronym/AcronymTest.php
  exercises/practice/binary-search/BinarySearchTest.php
  exercises/practice/circular-buffer/CircularBufferTest.php
  exercises/practice/leap/LeapTest.php
  exercises/practice/list-ops/ListOpsTest.php
  exercises/practice/protein-translation/ProteinTranslationTest.php
  exercises/practice/raindrops/RaindropsTest.php
  exercises/practice/reverse-string/ReverseStringTest.php
  exercises/practice/rna-transcription/RnaTranscriptionTest.php
  exercises/practice/roman-numerals/RomanNumeralsTest.php
  exercises/practice/secret-handshake/SecretHandshakeTest.php
  exercises/practice/spiral-matrix/SpiralMatrixTest.php
Labels: x:action/fix, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/tiny, x:rep/tiny

#776 resistor-color: sync
  exercises/practice/resistor-color/.docs/instructions.md
  exercises/practice/resistor-color/.meta/config.json
Labels: x:size/tiny

#777 resistor-color-duo: sync
  exercises/practice/resistor-color-duo/.docs/instructions.md
  exercises/practice/resistor-color-duo/.meta/config.json
Labels: x:size/tiny

#778 resistor-color-trio: sync
  exercises/practice/resistor-color-trio/.docs/instructions.md
  exercises/practice/resistor-color-trio/.meta/config.json
Labels: x:size/tiny

#767 #48in24: anagram
  exercises/practice/anagram/.meta/example.php
  exercises/practice/anagram/.meta/tests.toml
  exercises/practice/anagram/AnagramTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#768 #48in24: kindergarten-garden
  exercises/practice/kindergarten-garden/KindergartenGardenTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small
