Repository exercism/php, pull requests merged in 2024-06, with the labels that each got.

#728 meetup: sync
  exercises/practice/meetup/.docs/instructions.md
  exercises/practice/meetup/.docs/introduction.md
  exercises/practice/meetup/.meta/config.json
Labels: x:size/tiny

#727 Sync yacht
  exercises/practice/yacht/.meta/example.php
  exercises/practice/yacht/.meta/tests.toml
  exercises/practice/yacht/YachtTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#729 change : formula typo updated in pizza pi
  exercises/concept/pizza-pi/.docs/instructions.md
Labels: x:action/improve, x:knowledge/none, x:module/concept-exercise, x:type/content, x:size/tiny, x:rep/tiny

#736 Sync matching-brackets
  exercises/practice/matching-brackets/.docs/instructions.md
  exercises/practice/matching-brackets/.docs/introduction.md
  exercises/practice/matching-brackets/.meta/example.php
  exercises/practice/matching-brackets/.meta/tests.toml
  exercises/practice/matching-brackets/MatchingBracketsTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#737 Sync rna-transcription
  exercises/practice/rna-transcription/.meta/config.json
  exercises/practice/rna-transcription/.meta/example.php
  exercises/practice/rna-transcription/RnaTranscriptionTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#738 change: sync binary search
  exercises/practice/binary-search/.docs/instructions.md
  exercises/practice/binary-search/.meta/example.php
  exercises/practice/binary-search/BinarySearchTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#750 Sync raindrops
  exercises/practice/raindrops/.meta/config.json
  exercises/practice/raindrops/.meta/example.php
  exercises/practice/raindrops/RaindropsTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#752 Fix missing semicolon in class concept
  concepts/class-basics/about.md
  concepts/class-basics/introduction.md
  exercises/concept/windowing-system/.docs/introduction.md
Labels: x:action/fix, x:knowledge/elementary, x:module/concept, x:type/content, x:size/tiny, x:rep/tiny

#753 Fix test names to match test values
  exercises/concept/annalyns-infiltration/AnnalynsInfiltrationTest.php
Labels: x:action/fix, x:knowledge/elementary, x:module/concept-exercise, x:type/content, x:size/small, x:rep/small

#749 Sync reverse-string
  exercises/practice/reverse-string/.meta/example.php
  exercises/practice/reverse-string/.meta/tests.toml
  exercises/practice/reverse-string/ReverseStringTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#757 Sync list-ops
  exercises/practice/list-ops/.meta/example.php
  exercises/practice/list-ops/ListOpsTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#760 Improve pizza-pi instructions
  exercises/concept/pizza-pi/.docs/instructions.md
Labels: x:action/improve, x:knowledge/none, x:module/concept-exercise, x:type/content, x:size/tiny, x:rep/tiny

#759 Sync protein-translation
  exercises/practice/protein-translation/.docs/instructions.md
  exercises/practice/protein-translation/.meta/config.json
  exercises/practice/protein-translation/.meta/example.php
  exercises/practice/protein-translation/.meta/tests.toml
  exercises/practice/protein-translation/ProteinTranslationTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#765 #48in24: spiral-matrix 2024-07-09
  exercises/practice/spiral-matrix/.meta/example.php
  exercises/practice/spiral-matrix/SpiralMatrixTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small
