Repository exercism/php, pull requests merged in 2024-08, with the labels that each got.

#784 Sync robot-simulator
  config.json
  exercises/practice/robot-simulator/.docs/instructions.md
  exercises/practice/robot-simulator/.meta/design.md
  exercises/practice/robot-simulator/.meta/example.php
  exercises/practice/robot-simulator/RobotSimulator.php
  exercises/practice/robot-simulator/RobotSimulatorTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#786 Annalyn's Infiltration - Task 4 - Instructions don't match tests
  config.json
  exercises/concept/annalyns-infiltration/.docs/hints.md
  exercises/concept/annalyns-infiltration/.docs/instructions.md
  exercises/concept/annalyns-infiltration/.meta/design.md
  exercises/concept/annalyns-infiltration/AnnalynsInfiltrationTest.php
Labels: x:action/improve, x:knowledge/elementary, x:module/concept-exercise, x:type/content, x:size/medium, x:rep/medium

#789 Normalize array index on *Canonicalizing assertions
  exercises/practice/allergies/AllergiesTest.php
  exercises/practice/grade-school/GradeSchoolTest.php
Labels: x:action/fix, x:knowledge/none, x:type/content, x:size/small, x:rep/small

#788 #48in24: Meetup 2024-08-20 and PHP is a featured language
  exercises/practice/meetup/MeetupTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small

#780 Sync Luhn
  exercises/practice/luhn/.docs/instructions.md
  exercises/practice/luhn/.meta/example.php
  exercises/practice/luhn/.meta/tests.toml
  exercises/practice/luhn/LuhnTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/medium, x:rep/medium

#792 Sync Pascal Triangle
  exercises/practice/pascals-triangle/.docs/instructions.md
  exercises/practice/pascals-triangle/.docs/introduction.md
  exercises/practice/pascals-triangle/.meta/config.json
  exercises/practice/pascals-triangle/.meta/example.php
  exercises/practice/pascals-triangle/PascalsTriangleTest.php
Labels: x:action/sync, x:knowledge/elementary, x:module/practice-exercise, x:type/content, x:size/small, x:rep/small
